h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 400;
  text-align: center;
  border-bottom: 1px solid lightslategrey;
}
h5 {
  text-align: center;
}
div {
  text-align: center;
}
.btn {
  margin: 15px;
}
.navbar {
  margin-bottom: 0.5em;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3%;
  background-color: lightgray;
  color: white;
  text-align: center;
  margin-top: 1em;
}
.bottomMarg {
  margin-bottom: 2em;
}
.web-cam {
  width: 500;
  height: 500;
}
.container {
  margin-bottom: 2em;
}
